.contenttext{width: 1200px;}
.titleDetail{padding-left: 10px;position: relative;height: 400px;padding-top: 50px;}
.productImg{float: left;padding-left: 400px;}
.rightDetail{float: left;padding-left: 100px;}
.productName{font-size: 50px;  display: block;width: 270px;}
.price1{padding-left: 10px;color: red;font-size: 30px;}
.price2{color: red;font-size: 20px;}
.number{padding-bottom:50px;clear: both }
input{padding-left: 10px;width: 70px}
.buy{margin-left: 50px;}
.productDetail{padding-left: 400px;}
.detailInfo{padding-left: 50px;padding-bottom: 50px;font-size: 20px}
.detailImg{width: 600px;}
.navtag{position: fixed}