.contenText{
    width: 800px;
    margin-left: 200px;
    float: left;
}
.titleDetail{
    padding-left: 10px;
    height: 400px;
    padding-top: 50px;
}
.productImg{
    float: left;
}
.rightDetail{
    float: left;
    padding-left: 50px;
}
.productName{
    font-size: 30px;
    font-weight:bolder;
    display: block;
    width: 200px;
}
.price1{
    color: red;
    font-size: 30px;
}
.price2{
    color: red;
    font-size: 23px;
}
.number input{
    border: 1px solid black;
}
.number{
    font-size: 18px;
    padding-bottom:50px;
    clear: both;
}
.number input{
    padding-left: 10px;
    width: 70px
}
.buy{
    width: 150px;
    margin-right: 50px;
}
.detailInfo{
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}
.detailImg{
    width: 600px;
}
.navtag{
    position: fixed;
}
.NotInCommonPrice{
    text-decoration:line-through;
}
.cartProduct{
    width: 800px;
    height: 200px;
}
.cartProduct img{
    width: 100px;
    float: left;
}
.cartProduct p{
    width: 150px;
    float: left;
}
.cartProduct input{
    float: left;
    width: 100px;
    border: 1px solid black;
}