.registerForm, .loginForm{
    width: 500px;
    left:300px;
    margin: 100px auto;
    padding: 40px;
    top:30px;
    height: 450px;
    position: fixed;
    display: none;
    background-color: #999999;
}
.center{
    text-align: center;
}
.registerForm p, .loginForm p{
    font-size: 20px;
}
.registerForm .btn-primary,.loginForm .btn-primary{
    width: 100px;
}
.navbar-nav{
    padding-right: 40px;
}
.message{
    color: brown;
    display: block;
    margin-top: -10px;
    height: 25px;
}


.headContent{
    margin-top: -30px;
    width: 100%;
    height: 150px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
    background-color: white;
    display: inline-block;
}
.headContent .imgLogo{
    width: 350px;
    height: 150px;
    float: left;

}
.headContent img{
    width: 300px;
    height: 150px;
}
.search{
    float: right;
    padding-top: 50px;
    padding-right: 100px;
    width: 600px;
    height: 50px;

}
.search .form-control{
    border: 2px solid #2b669a;
}
.search input {
    width: 400px;
}
.search button{
    width: 100px;
}

.navTag{
    margin-left: 20px;
    width: 150px;
}
ul.nav-tabs{
    background-color: white;
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

.searchPrice{
    float: right;
    padding-right: 100px;
    padding-top: 50px;
}
.searchADSC{
    padding-top: 50px;
}
