body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: white;
    color:black;
    font-size: 1em;
}
.forms{
    width: 25%;
    left:30%;
    top:20%;
    position: fixed;
    padding:0 3%;
    display: none;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
    z-index:10000;
    height: 50%;
}
.registerForm{
   padding-bottom: 6%;
}
.registerForm .btnPrimary{
    margin-top: 20%;
}
.formControl{
    width: 100%;
    height: 15%;
    border: 1px solid lightgray;
    float: left;
}
.center{
    text-align: center;
}
.formContent{
    width: 100%;
    height: 70%;
}
.btnPrimary{
    margin-top: 1%;
    width: 100%;
    height: 13%;
    background-color: #0088cc;
    color: white;
    border:0;
    display: block;
    vertical-align: bottom;
}

.close{
    margin-top: 2%;
    float: right;
    border: 0.7px solid lightgrey;
    background-color: white;
    font-size: 0.9em;
}
.message{
    height: 36%;
    width: 100%;
    color: brown;
    display: block;
    text-align: left;
    font-size: 0.8em;
}

.headContent{
    width: 100%;
    height: 100px;
    padding-top: 1%;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
    display: inline-block;
}
.headContent .imgLogo{
    width: 15%;
    height: 100px;
    float: left;
    margin-left: 1%;
    margin-right: 5%;

}
.headContent img{
    width: 150px;
    height: 80px;
    float: left;
}
.loginAndRegister{
    position: absolute;
    right: 7%;
    width: 70%;
    margin-bottom: 1%;
    text-align: right;
}
.loginAndRegister a{
    color: black;
    margin-right: 1%;
    text-decoration:none;
}
/*.searchAndCart{*/
    /*width: 100%;*/
/*}*/
.search{
    float: left;
    padding-top: 3%;
    width: 45%;
    height: 100%;
    /*background-color: #2aabd2;*/
    /*display: inline-block;
    vertical-align: bottom;*/
}
.search .formControl{
    width: 75%;
    float: left;
    height: 30px;
    font-size: 1em;
    border: 2px solid gray;
}
.search button{
    float: left;
    width: 20%;
    font-size: 1em;
    height: 32px;
    color: white;
    border: 1px solid gray;
    background-color: gray;
}
.cartBtn{
    float: right;
    width: 25%;
    margin-top: 2.6%;
    text-align: center;
}
.cartBtn button img{
    width: 30%;
    height: 30px;
}
.cartBtn button{
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    vertical-align: bottom;
    line-height: 200%;
}
.dropdownMenu{
    z-index:9999;
    border: 1px solid lightgray;
    background-color: white;
    position: absolute;
    display: none;
    float: right;
    right: 7%;
    text-align: left;
    width: 35%;
    padding-left: 1%;
    padding-right: 1%;
}
.dropdownMenu a{
    line-height: 250%;
    text-decoration:none;
    color: black;
}
@media screen and (max-width: 800px) {
    .loginAndRegister {
        width: 40%;
        float: left;
        /*background-color: #1b6d85;*/
    }
    .cartBtn{
        float: left;
    }
}
/**************************/
/*.navTag{*/
    /*margin-left: 20px;*/
    /*width: 150px;*/
/*}*/
/*ul.nav-tabs{*/
    /*background-color: white;*/
    /*width: 140px;*/
    /*margin-top: 20px;*/
    /*border-radius: 4px;*/
    /*border: 1px solid #ddd;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);*/
/*}*/
/*ul.nav-tabs li{*/
    /*margin: 0;*/
    /*border-top: 1px solid #ddd;*/
/*}*/
/*ul.nav-tabs li:first-child{*/
    /*border-top: none;*/
/*}*/
/*ul.nav-tabs li a{*/
    /*margin: 0;*/
    /*padding: 8px 16px;*/
    /*border-radius: 0;*/
/*}*/
/*.activeStyle a{*/
    /*color: #fff;*/
    /*background: #0088cc;*/
    /*border: 1px solid #0088cc;*/
/*}*/

/*.searchPrice{*/
    /*float: right;*/
    /*padding-right: 100px;*/
    /*padding-top: 50px;*/
/*}*/
/*.searchADSC{*/
    /*padding-top: 50px;*/
/*}*/
/*.dropdowns ul{*/
    /*margin-top: 35px;*/
    /*margin-left: 200px;*/
/*}*/
/*.dropdowns .dropdownToggle{*/
    /*height: 30px;*/
    /*margin-bottom: -35px;*/
/*}*/

