@categoryColor: rgba(248, 247, 247, .8);
@black: #3a3a3a;
@media screen and (max-width: 800px) {
  .category-list{
    display:inline-table;
    width: 100%;
    .home-category-nav {
      width: 800px;
      .home-category-nav-item {
        width: 14%;
        float: left;
      }
    }
    .bx-wrapper {
      clear: both;
    }}

}
body {
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif, "宋体";
  font-size: 14px;
  a {
    text-decoration: none;
    outline: 0;
  }
  ul{
    margin: 0px;
  }
  li {
    list-style: none;
  }
}

.home-category-list {
  top: 50px;
  position: relative;
  height: 400px;
  .category-list {
    width: 20%;
    left: 0;
    float: left;
    background-color: @categoryColor;
    .home-category-nav {
      padding: 20px 0;
    }
    .home-category-nav-item {
      height:60px;
      a{padding-top: 20px;}
      a:hover{background-color: white;}
    }
    .category-nav-link {
      padding: 0px 30px;
      width: 100%;
      color: @black;
      font-size: 14px;
      display: block;
      height: 100%;
    }
  }
  .bx-wrapper {
    width: 80%;
    z-index: 9900;
    position: relative;
    float: left;
    img {
      width: 100%;
      display: block;
      height: 400px;

    }
    .bx-pager .bx-pager-item,
    .bx-controls-auto .bx-controls-auto-item {
      display: none;
    }
    .bx-pager.bx-default-pager a {
      display: none;
    }
    /* DIRECTION CONTROLS (NEXT / PREV) */
    .bx-prev {
      left: 10px;
      background: url("../images/controls.png") no-repeat 0 -32px;
    }
    .bx-next {
      right: 10px;
      background: url("../images/controls.png") no-repeat -43px -32px;
    }
    .bx-controls-direction a {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      outline: 0;
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      z-index: 9999;
    }
    .bx-controls-direction a.disabled {
      display: none;
    }

  }

}


