body{
  background-color: #EAEAEA;
}
.allProjectList{
  text-align: center;
  margin-left: 200px;
  margin-top:220px;
  display: inline-block;
  width: 1000px;
}

.indexProduct{
  width: 230px;
  float: left;
  height: 300px;
  text-align: left;
  margin: 10px 10px;
}

.indexProduct img{
  width: 225px;
  height: 250px;
}
.indexProduct a{
  text-decoration:none;
}
.price{
  color: red;
  font-size: 19px;
}
.products{
  margin-top: -200px;
}

.aStyle{
  width: 100%;
  font-size: 16px;
  text-align: center;
}
.aStyle a{
  text-decoration: none;
}
.NoUseHrefClass{
  color:gray;
  pointer-events: none;
}