
.filterProduct{
  padding: 40px;
  .filterRequest{
    bheight: 39px;
    background-color: #f5f5f5;
    border: solid 1px #e8e8e8;
    #processForm{
      .sort{
        display: inline-block;
        padding: 20px;
        .sortPrice,.searchADSC{
          position: absolute;
          background-color: white;
          border: solid 1px #e8e8e8;
          width: 150px;
          padding: 0px;
          li{
            text-align: left;
            line-height: 40px;
            input{
              width: 20px;
            }
          }
          li:hover{
            background-color: #f5f5f5;
          }
        }
        button{
          width: 50px;
          height: 30px;
          text-align: center;
          color: #fff;
          background-color: #1fa7ea;
          border-radius: 2px;
          border: 0px;
          font-size: 14px;
        }
        
      }
      .searchPrice{
        input{
          width: 50px;
          height: 20px;
        }
        
      }
    }
  }
}
.products{
  height: auto;
  display: inline-block;
}
.indexProduct{
  border: 1px solid lightgray;
  width: 230px;
  float: left;
  height: auto;
  text-align: left;
  margin: 20px 33px;
  a{
    text-decoration:none;
    color: black;
    img{
      width: 230px;
      height: 250px;
    }
    .price{
      color: red;
      font-size: 19px;
    }
    p{
      margin: 0;
      padding: 3px 10px;
    }
  }
}
.aStyle{
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-bottom: -50px;
  a{
    text-decoration: none;
    
  }
}
.NoUseHrefClass{
  color:gray;
  pointer-events: none;
}