<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.shoppingweb.persistence.AddressMapper">
    <select id="addresses" resultType="Address">
         SELECT * FROM address WHERE userName=#{userName}
    </select>
    <select id="selectAddressById" resultType="Address">
        SELECT * FROM address WHERE addressId=#{addressId}
    </select>
    <select id="getLastAddress" resultType="Address">
        SELECT * FROM address ORDER BY addressId DESC limit 0,1
    </select>

    <insert id="insertAddress" useGeneratedKeys="true" keyProperty="addressId" parameterType="Address" >
        insert into address
        (firstName,lastName,emailAddress,userName,province,city,street,statusOrder)
        values
        (#{firstName},#{lastName},#{emailAddress},#{userName},#{province},#{city},#{street},#{statusOrder})
    </insert>
</mapper>