<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.shoppingweb.persistence.AddressMapper">
    <select id="addresses" resultType="Address">
         SELECT * FROM Address WHERE userName=#{userName}
    </select>
    <select id="selectAddressById" resultType="Address">
        SELECT * FROM Address WHERE addressId=#{addressId}
    </select>
    <select id="getCheckAddress" resultType="Address">
        SELECT * FROM Address ORDER BY addressId DESC limit 0,1
    </select>

    <insert id="insertAddress" parameterType="Address" >
        insert into address
        (addressId,firstName,lastName,emailAddress,userName,province,city,street)
        values
        (#{addressId},#{firstName},#{lastName},#{emailAddress},#{userName},#{province},#{city},#{street})
    </insert>
</mapper>