<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.shoppingweb.persistence.OrderMapper">
    <insert id="insertToOrder" useGeneratedKeys="true" keyProperty="orderId" parameterType="Orders">
        INSERT INTO orders(addressId,userName,productNum,totalPrice)
        VALUES (#{addressId},#{userName},#{productNum},#{totalPrice})
    </insert>

    <select id="selectOrderByUserName" resultType="Orders">
        SELECT * FROM orders WHERE userName=#{userName}
    </select>
</mapper>
