<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.shoppingweb.persistence.ProductMapper">
    <select id="findProductById" resultType="Product">
    SELECT * FROM product WHERE productId=#{productId}
</select>

    <select id="getPaginationProductList" resultType="Product">
        SELECT * FROM product
        <where>
            <if test="filterValue!=null and filterValue!=''">
                ${filterName}=#{filterValue}
            </if>
            <if test="minPrice!=null and minPrice!='' and maxPrice!=null and maxPrice!=''">
                and productPrice BETWEEN #{minPrice} and #{maxPrice}
            </if>
            </where>
        <if test="seqName != null and seqName!=''">
            ORDER BY ${seqName} ${sequence}
                </if>
        limit #{start},#{size}

    </select>

    <select id="getNumOfProducts" resultType="int" >
        SELECT COUNT(1) FROM product
        <where>
        <if test="filterValue!=null and filterValue!=''">
            ${filterName}=#{filterValue}
        </if>
        <if test="minPrice!=null and minPrice!='' and maxPrice!=null and maxPrice!=''">
            and productPrice BETWEEN #{minPrice} and #{maxPrice}
        </if>
    </where>
    </select>

</mapper>
