<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thoughtworks.shoppingweb.persistence.ShopCartMapper">
    <select id="allCartProduct"  resultMap="allShopCartInfo">
        SELECT * FROM shopcart WHERE userName=#{userName} AND productNum > 0
    </select>
    <resultMap id="allShopCartInfo" type="ShopCart">
        <collection property="product" javaType="Product" column="productId" ofType="Product" select="selectUserProductInCart" />
    </resultMap>
    <select id="selectUserProductInCart" resultType="Product">
        SELECT * FROM  product WHERE productId=#{productId}
    </select>

    <select id="findExistedShopCart" resultType="ShopCart">
        SELECT * FROM shopcart WHERE userName=#{userName} AND productId=#{productId}
    </select>

    <update id="updateShopCart" parameterType="ShopCart" >
        UPDATE shopcart SET productNum=#{productNum} WHERE userName=#{userName} AND productId=#{productId}
    </update>


    <insert id="insertToCart" parameterType="com.thoughtworks.shoppingweb.domain.ShopCart">
        INSERT INTO shopCart(userName,productId,productNum) VALUES (#{userName},#{productId},#{productNum})
    </insert>
    <select id="cartProduct" resultMap="ShopCartInf">
        SELECT * FROM shopcart WHERE userName=#{userName} AND productNum>0 ORDER BY shopCart.id DESC LIMIT 0,2
    </select>
    <resultMap id="ShopCartInf" type="ShopCart">
        <collection property="product" javaType="Product" column="productId" ofType="Product" select="selectProductInShopCart" />
    </resultMap>
    <select id="selectProductInShopCart" resultType="Product">
        SELECT * FROM  product WHERE productId=#{productId}
    </select>

</mapper>
